<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Génération</th>
            <th>Type(s)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">
                <form method="GET" action="{% url 'search_pokemon' %}">
                    <input type="text" name="search" placeholder="Rechercher un Pokémon par nom">
                    <button type="submit">Rechercher</button>
                </form>
            </td>
        </tr>
        {% for pokemon in pokemon_list %}
            <tr>
                <td>{{ pokemon.name }}</td>
                <td>{{ pokemon.generation }}</td>
                <td>{{ pokemon.types | join:", " }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
