{% include 'base/start_html_base.html' with titre="Créer une équipe" navbar="true" %}
{% if in_fight%}
    <span>Vous ne pouvez pas créer de nouvelle équipe car vous êtes en combat</span>
{% else %}
    <a href="{% url 'create_team' %}" >Créer une équipe</a>
{% endif %}
<h1>Historique des combats</h1>
{% for fight in list_fight %}
    <ul>
        <li>Votre équipe : {{ fight.team_user }}</li>
        <li>équipe adverse: {{ fight.team_opponent }}</li>
        <li>win ? {{fight.win}}</li>
        <li>Date : {{fight.date}}</li>
    </ul>
{% endfor %}
{% include 'base/end_html_base.html' %}